<header>
    <div class="logo logo--mobile">
        <a href="{{basePath}}index.html#home" aria-label="Return to the home page">
            <img src="/img/jmp_logo.png" alt="Jesus Marini Parissi logo">
        </a>
    </div>
    <button class="nav__toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
        <span class="hamburger"></span>
    </button>
    <div class="nav">
        <div class="logo">
            <a href="{{basePath}}index.html#home" aria-label="Return to the home page">
                <img src="/img/jmp_logo.png" alt="Jesus Marini Parissi logo">
            </a>
        </div>
        <nav class="nav_" aria-label="Primary navigation">
            <ul class="nav__list">
                <li class="nav__item"><a href="{{basePath}}index.html#home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="{{basePath}}index.html#services" class="nav__link">Experience</a></li>
                <li class="nav__item"><a href="{{basePath}}index.html#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="{{basePath}}blog/index.html" class="nav__link">Blog</a></li>
                <li class="nav__item"><a href="{{basePath}}index.html#work" class="nav__link">Projects</a></li>
                <li class="nav__item"><a href="{{basePath}}index.html#connect" class="nav__link">Moon Rabbit</a></li>
            </ul>
        </nav>
    </div>
</header>
